// colors
$color__ff: #fff;
$color__dd: #ddd;
$color__f8: #f8f8f8;
$color__73: #737373;

// transition
$transition__default: .3s;

// typography
$font-weight__semibold: 600;

// breakpoints
$sm: 767px;